h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 20vw;
    margin: 10px;
}
.card{
    border: 1px solid black;
    box-shadow: 5px 8px 15px rgba(0,0,0,.3);
    border-radius: 5px;
}
.btn{
    height: 30px;
}